
body {
  font-family:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: #111; }

/* Text Elements
 * --------------------------------------------------------------------- */
a { 
  text-decoration: none;
  color: #FBED09;
}
a:hover           { color: #A2FFFF; }
blockquote        { color: #666; }

pre {
  background: #eee;
  border:     1px solid #ddd;
}

hr {
  background: #B2CCFF;
  color:      #B2CCFF;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid #ddd;
  border-left:    1px solid #ddd;
}
th,td {
  border-bottom:  1px solid #ddd;
  border-right:   1px solid #ddd;
}

/* Default Classes
 * --------------------------------------------------------------------- */

p, ul {
  font-size: 13px;
}

p.quiet { color: #666; }
.alt    { color: #666; }

p.title {
  color: #1cfffa;
  font-family:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}

#header p.title { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }


body {
  background-color: #160E12;
  color: #fff;
}

h1, h2, h3, h3, h4, h5 {
  color: #fff;
}

#topbar {
  background-color: #4A2D3A;
  padding: 4px;
  color: #fff;
  font-weight: bold;
  height: 18px;
}

#subtopbar {
  background: #804C62;
  height: 21px;
}

#subtopbar #ererosdetail {
/*  background: transparent url('/images/ererostop.png') no-repeat 0% -30%; */
  height: 21px;
}

#menutopbar {
  background: #171016;
  height: 55px;
  padding: 10px 0 20px 0px;
}

#bannertopbar {
  background: #100909 url('/images/pica.png') repeat-x ;
  border-bottom: 4px solid #0f090c;
}

#bannertopbar #bannerama {
   background: transparent url('/images/rbg.png') no-repeat 50% 50%; 
  height: 204px;
}

#bannertopbar #bannerama #bannercontent {
  padding-top: 44px;
}


#menutop {
  text-align: right;
}

#menutop ul {
  list-style-type: none;
  padding: 20px 0 0 0;
  margin: 0;
}

#menutop ul li  {

  display: inline;
  padding-right: 17px;
  font-size: 20px;
}

#menutop ul li a:hover  {
  color: #2b1b23;
}


#menutop ul li a {
  color: #C06F90;
  padding: 8px;
  text-decoration: none;
}

#menutop ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

#mainbody {
  padding-top: 30px;

}

#mainbody h1, h2, h3 {
  color: #A36483;
}

#mainbody h2 {
  font-family:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
  color: #FECD1A;
}

#mainbody h3 {
  color: #824B62;
  font-weight: bold;
  font-size: 17px;
}

#mainbody h4 {
  color: #D7FF3C;
  font-size: 15px;
}


#mainbody #menues h3 {
  color: #5c3b4c;
}

#mainbody #menues ul {
  list-style-type: none;
  margin: 12px 0px 16px 0px;
}

#mainbody #menues ul li {
  border-bottom: 1px solid #1c1117;
  color: #FEFFE7;
  padding: 2px 4px 2px 7px;

  font-family:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#mainbody #menues ul li:hover {
  background-color: #2b1b23;
}

#mainbody #menues ul li a {
  text-decoration: none;
  color: #FEFFE7;
  display: block;
}

table#views {
  padding: 10px;
}

table#views, table#views td {
  border: 0;
}

table#views td {
  border-bottom: 1px solid #1c1117;
}

#footer {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #1c1117;
  text-align: right; 
}

#footer a {
  color: #A56383;
}

ul#program {
  list-style-type: none;
}

ul#program li {
  border-bottom: 1px solid #1c1117;
  padding: 4px;
  color: #E1D196;
}

ul#program ul li {
	  color: #7A7252;
}

#live {
  display:block;
  width:565px;
  height:330px
}

/* EOF */
