SITE.user        =  "XXXXXXXX"
SITE.host        =  "ereros.org"
SITE.remote_dir  =  "/XXXXXXX"


task :default => :build

desc 'deploy the site to the webserver'
task :deploy => [:build, 'deploy:rsync']

# EOF
